body {

    font-size: 100%;
    background: linear-gradient(20deg, rgba(3, 105, 37, 1) 0%, rgba(32, 168, 77, 1) 35%, rgba(58, 244, 120, 1) 100%);
}

header {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background: linear-gradient(20deg, rgba(2,43,16,1) 0%, rgba(17,74,36,1) 50%, rgba(31,136,66,1) 100%);
}

.icon-decore {

    display: flex;
    width: 40px;

}

.nav-bar {

    display: flex;
    gap: 20px;
    
}

.item-nav {

    font-weight: 600;
    padding-bottom: 4px;
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}

main {
    height: 100vh;
    border-top: 2px solid #ffffff; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;

}

.titulo-texto {


    font-size: 80px;
    color: rgba(2,43,16,1) ;
    

}

.paragrafo {
    max-width: 300px;
    color: #ffffff;
    font-weight: 500;
    
}

.logotipo {

    width: 500px;
    filter: drop-shadow(0px 0px 50px #000000);

}

.logo-escrita {
    
    width: 300px;
    display: block;
    margin: auto;

}

footer {
    
    border-top: 2px solid #ffffff;
    background: linear-gradient(20deg, rgba(2,43,16,1) 0%, rgba(17,74,36,1) 50%, rgba(31,136,66,1) 100%);
    padding: 30px;

}